<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.name}" >Name</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit">
                </form>
                <form th:method="DELETE" th:action="@{/delete/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete">
                </form>
                <br>
            </td>
        </tr>
</table>


<br>
<hr>
<form th:method="GET" th:action="@{/new}">
    <input type="submit" value="Create new user">
</form>

</body>
</html>